.form1 {
    margin-top: 10rem;
    margin-bottom: 4rem;
    /* background: rgba(233, 233, 233, 0.488); */
    border: 1px  black;
    border-radius: 7px;
    width: 25%;
    margin-left: 40%;
    padding-bottom: 1rem;
    padding-top: 2rem;

    


/* width: 40%;
height: 100%;
display: flex;
flex-direction: column;
margin-right: 9rem;
margin-top: 5rem;
padding: 0px 10px;
border: 1px solid #c9c9c9;
border-radius: 7px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.acc1 {
    margin-left: 13%;
    color: black;
}

.reg {
    display: inline;
    /* margin-right: 10rem; */
    margin-top: 0;
    align-items: center;
    /* margin-left: 39%; */
    color: black;
    margin-left: 34%;


}
.inp22 {
    margin-top: 0.3rem;
    margin-left: 13%;
    padding: 1rem 5rem;
    border: 1px solid black;
    display: block;
    /* display: block;
    margin: 10% 27%; */
}
.inp22:focus {
outline: 1px transparent;
}

a {
    color: maroon;

}

.btn12{
    margin-top: 2rem;
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 1rem 3rem;
    margin-left: 37%;
}

.Enter0 {
    margin-right: 8.5rem;

}

.Enter11 {
    margin-right: 8.5rem;

}

.Enter22 {
    margin-right: 7.2rem;

}