.Footer {
  bottom: 0;
  /* overflow:scroll; */
  width: 100%;
  z-index: 10;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgb(247, 247, 247);
  /* padding: 0.8rem 0.5rem 0.8rem; */
  display: flex;
  flex-direction: column;
  /* margi: -1rem; */
  margin-top: 5rem;

}

p {
  margin-left: 40%;
  padding: 1.1rem;
  display: flex;
  align-items: center;
  /* justify-content: center;
  margin-left: -1rem;
  margin-right: -1rem; */
}

