.banner img {
    width: 100%;
    height: 80vh;
    /* background-image: url("../Images/MANGO2.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    opacity: 1;
    margin-left: 1rem; 
  }

  .fashion {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 12%;
    padding: 5rem ;
    transform: translate(-50%, -50%);
    text-align: center;
    /* font-size: 5rem; */
    color: black;

    background-color: rgba(245, 234, 230, 0.399);
    margin-right: 2rem;

}

  .fashion h1 , h4 {
    margin-left: 10rem;
  }

.fashion h1 {
    font-size: 3.9rem;
}

.fashion h4 {
    font-size: 1.6rem;
}


.categories {

}

.categories li {
  padding: 3rem;
  list-style-type: none;
  display: inline-block;
  background-color: rgb(243, 240, 239);
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  font-size: 7rem;
  color: black;
}


.cat {
  color: rgb(123, 61, 49);
}
